body {
    margin: 0;
    padding: 0;
    background-image: url(images/FROGGY.jpg);

}

.container {
    display: flex;
    background-color: #DDFFBB;
    height: 90px;
    margin: 0 auto;
}

.flex-item {

    width: 150px;
    height: 150px;
    display: flex;
    margin-top: 20px;
    
}

.flex-item a {
    font-size: 20px;
    text-decoration: none;
    color: #FF6000;
    margin-top: 10px;
    
}

.item1 {
position: absolute;
left: 200px;
font-size: 50px;
color: #FF6000;

}

.item2 {
    margin-left: auto;
    
}

.Main {
    text-align: left;
    margin-top: 370px;
    margin-left: 700px;
    justify-content: center;
    color: #FC2947;
}

.Main h1 {
    font-size: 60px;
}

.Main p {
    font-size: 30px
}

.Button {
    background-color: #FC2947;
    display: block;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    border-color: white;

}

.container2 {
    color: white;
}

.first_row {
    display: flex;
    margin: 0px 25px;
    margin-top: 40px;

}

.frogition_container {
    width: 30%;
    height: 500px;
    background-color: #FC2947;
}

.frogition {
    height: 100%;
    margin: 0px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frogition h3 {
    font-size: 46px;
    margin-bottom: 0px;
}

.frogition p {
    line-height: 46px;
    font-size: 18px;
}

.first_frog_picture_container {
    width: 40%;
    height: 500px;
}

.first_frog_picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: 50% 50%;
}

.frogitivity_container {
    width: 30%;
    height: 500px;
    background-color: #F7A4A4;
}

.frogtivity {
    height: 100%;
    margin: 0px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frogtivity h3 {
    font-size: 46px;
    margin-bottom: 0px;
}

.creativity p {
    line-height: 46px;
    font-size: 18px;
}


.second_row {
    display: flex;
    margin: 0px 25px;
}


.what_we_frog_container {
    width: 50%;
    height: 350px;
    background-color: #FFD4D4;
}

.what_we_frog {
    height: 100%;
    margin: 0px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.what_we_frog h3 {
    font-size: 46px;
    margin-bottom: 0px;
}

.what_we_frog p {
    line-height: 46px;
    font-size: 18px;
}

.second_frog_pic_container {
    width: 25%;
    height: 350px;
}

.second_frog_pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: 50% 50%;
}

.Froglity_container {
    width: 25%;
    height: 350px;
    background-color: #F7C8E0;
}

.Froglity {
    height: 100%;
    margin: 0px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Froglity h3 {
    font-size: 46px;
    margin-bottom: 0px;
}

.Froglity p {
    line-height: 46px;
    font-size: 18px;
}

.container3 {
    color:white;
    margin: 0px 25px;
    margin-top: 40px;
}

.second_frog_info_container {
    display: flex;
}



.second_frog_picture_container {
    width: 25%;
    height: 600px;
}

.second_section_pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.second_frog_cakes_container {
    width: 25%;
    height: 600px;
    background-color: #DF7857;
}

.second_frog_cakes {
    height: 100%;
    margin: 0px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second_frog_cakes h3 {
    font-size: 46px;
    margin-bottom: 0px;
}

.second_frog_cakes p {
    line-height: 46px;
    font-size: 18px;
}



.second_frog_picture2_container {
    width: 50%;
    height: 600px;
}

.second_frog_picure2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.stats {
    height: 300px;
    display: flex;
    background-color: white;
    color: #7AA874;
    justify-content: space-around;
    align-items: center;
}

.stats_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats_info h3 {
    color: #16FF00;
    font-size: 60px;
}

.stats_info p {
    font-size: 50px;
    margin-top: 0px;
}